# Python
*.pyc
__pycache__/
.venv/
*.egg-info/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/

# Docker
docker-compose.*

# Git
*.swp
*.swo
prod_dump.sql
prod_dump.sql.save
backend/scripts/test_logging.py
